$without-bg1: gold;
$without-bg2: transparent;

.container {
  flex: 1 100%;
}

.panel {
  margin: 5px 0;
  &--wrapper {
    flex-direction: column;
    display: flex;
    position: relative;

    &--sized {
      height: 200px;
      position: relative;

      &.with-bg1 {
        background-image: url('../../assets/img/maxresdefault.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.5;
      }

      &.without-bg1 {
        background-color: $without-bg1;
      }

      &.without-bg2 {
        background-color: $without-bg2;
      }
    }
  }
}
