$horizontal-color: #99ce58; // horizontalBlock bg

main {
  margin-top: 90px;
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: center;
}

.clientsBlock {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.horizontalBlock {
  width: 100%;
  background-color: $horizontal-color;
}
