main {
  margin-top: 90px;
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: center;
}

.clientsBlock {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}
