$primary: #fff; //fonts color
$large: 28px; // fonts size

%message {
  text-align: center;
  text-shadow: 0 0 15px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message--image {
  @extend %message;
  color: $primary;
  font-size: $large;
}
