$primary: #fff; //fonts color
$large: 28px; // fonts size
$small: 16px; // fonts size


%message {
  text-align: center;
  position: absolute;
  top: 54%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

%text-2-lines{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.message {
  &--image {
    @extend %message;
    @extend %text-2-lines;
    text-shadow: 0 0 15px;
    color: $primary;
    font-size: $large;
  }
  &--comments {
    @extend %message;
    @extend %text-2-lines;
    color: $primary;
    font-size: $small;
    font-style: italic;
  }
}

// on small screens i make fonts smaller
@media (max-width: 500px){
  .message {
    &--image {
      font-size: $small;
    }
  }  
}
